html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
    text-align: center;
}